.student--list {
  width: 100%; /* Occupy full width */
  padding: 20px; /* Add consistent spacing */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.list--header {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.list--header h2 {
  color: #526d82;
}

.list--header select {
  border-radius: 10px;
  border: 1px solid #dde6ed;
  padding: 8px 12px;
  color: #526d82;
}

/* Table header styling */
.table--header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  color: #526d82;
  background-color: #dde6ed;
  border-radius: 10px;
  margin-bottom: 15px;
}

.column {
  flex: 1;
  text-align: left;
  padding-left: 10px;
  color: #526d82;
}

.column.semester, .column.attendance {
  text-align: center;
}

/* List container styling */
.list--container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dde6ed;
  transition: 0.3s ease-in-out;
}

.student--detail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.student--detail img {
  width: 50px;
  height: 50px;
  background: #dde6ed;
  border-radius: 50%;
}

span {
  color: #526d82;
}

.student--link {
  text-decoration: none;
  color: inherit;
}

.student--link:hover .list {
  background: #dde6ed;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .column {
    width: 100%;
    text-align: left;
  }
  .table--header, .list {
    flex-direction: column;
  }
}
